<span class="text-gray-500 text-sm dark:text-gray-400 sm:text-center"
  >© 2022-2023 <a href="#" class="hover:underline"
    >Rolleston College Film Club</a
  ></span
>
<span class="text-gray-500 text-sm dark:text-gray-400 sm:text-center"
  >© 2022-2023 <a href="https://www.husky.nz" class="hover:underline">HuskyNZ</a>. All Rights
  Reserved.</span
>
<span class="text-gray-500 text-sm dark:text-gray-400 sm:text-center"
  ><p class="my-4 text-gray-500 dark:text-gray-400">
    This site is hosted on Vercel by <a
      href="https://www.husky.nz"
      class="mr-4 hover:underline md:mr-6">HuskyNZ</a>
  </p></span
>
