---
import { getCollection } from "astro:content";
import ContentSection from "~/components/content-section.astro";
import Theteam from "~/components/theteam-card.astro";

const featuredSites = await getCollection(
  "theteam",
  ({ data }) => "featured" in data,
);
const orderedSites = featuredSites.sort(
  (a, b) => a.data.featured! - b.data.featured!,
);
---

<ContentSection title="The Team" id="theteam">
  <Fragment slot="lead">
   
  </Fragment>
  <div class="max-w-6xl space-y-2">
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
      {orderedSites.map((site) => <Theteam site={site} />)}
    </div>
    <p class="text-right text-sm">
    </p>
  </div>
</ContentSection>
